body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.card {
  width: 700px;
  display: flex;
}

.card-img {
  width: 30%;
  height: 30%;
  left: 50px;
  position: absolute;
  height: auto;
  display: block;
  z-index: 2;
}

.card-content {
  padding: 60px;
  width: 50%;
  height: 30%;
  right: 50px;
  top: 500px;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.card-text{
  margin-top: 30px;
  margin-left: 300px;
}

.card-text hr{
  margin-right: 200px;
}

.card-content h2 {
  margin-top: 0;
  font-size: 60px;
}

.card-content p {
  font-size: 16px;
  color: #555;
}

.card-content button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #333;
  background: none;
  cursor: pointer;
  border-radius: 15px;
}