body {
  background-color: gainsboro;
  position: absolute;
  width: 100%;
  height: 100%;
}

.Bubble-wite{
  position: relative;
  background: orangered;
  margin-top: 10%;
  left: 70%;
  border-radius: 360px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 20px 20px;
  z-index: 3;
}

.wite{
  position: relative;
  background: rgb(255, 255, 255);
  top: 16%;
  left: 16%;
  border-radius: 360px;
  width: 100px;
  height: 100px;
}

.Bubble-man{
  position: relative;
  background: orangered;
  left: 45%;
  border-radius: 360px;
  width: 450px;
  height: 450px;
  box-shadow: 0px 20px 20px;
  z-index: 1;
}

.man{
  position: relative;
  background-color: white;
  background-image: url("1765181403496k.jpg");
  background-repeat: no-repeat;
  background-position: 80px 50px ;
  top: 6%;
  left: 6%;
  border-radius: 360px;
  width: 400px;
  height: 400px;
}

.Bubble{
  position: relative;
  background: orangered;
  margin-top: -8%;
  left: 42%;
  border-radius: 360px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 20px 20px;
  z-index: 2;
}

.Bubbletext{
  position: relative;
  background: orangered;
  top: -10%;
  left: 55%;
  border-radius: 360px;
  width: 450px;
  height: 450px;
  box-shadow: 0px 20px 20px;
  z-index: 1;
}

.text{
  text-align: center;
  color: white;
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
}

button {
  color: black;
  background-color: aliceblue;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  box-shadow: 0px 1px 20px;
}

.Bubble-wite-2{
  position: relative;
  background: orangered;
  margin-top: -18%;
  left: 46%;
  border-radius: 360px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 20px 20px;
  z-index: 3;
}

.wite-2{
  position: relative;
  background: rgb(255, 255, 255);
  top: 16%;
  left: 16%;
  border-radius: 360px;
  width: 100px;
  height: 100px;
}