body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(pav.jpeg);
  background-position: center;
  background-size: cover;
  padding: 50px;
  text-align: center;
}

main {
  padding: 20px;
}

.container {
  margin-left: 40px;
}

.container p {
  margin-left: inherit;
}