body {
    margin: 0;
    background-image: url('bg.png');
}

header {
    padding-top: 20px;
    background: linear-gradient(to right, #f7c8b7, #fcd4b6);
}

.logo {
    color: white;
    font-size: 40px;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    background: #f24c74;
    height: 50px;
    width: 100%;
    padding: 8px 25px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #ff7fa0;
    border-radius: 3px;
}

.hero {
    width: 840px;
    height: 160px;
    margin: 20px auto;
    background-image: url('pic01.jpg');
    background-size: cover;
    background-position: center;
    border: 10px solid white;
}

.text-block {
    background: white;
    width: 800px;
    padding: 20px 30px;
    margin: auto;
    border-bottom: 2px dashed #ccc;
}

.text-block h2 {
    letter-spacing: 3px;
}

.text-block hr {
    clear: both;
    border: 1px solid transparent;
    height: 0px;
    border-bottom: 2px dashed #ccc;
}

footer {
    width: 780px;
    padding: 20px 30px;
    background: #f24c74;
    padding: 40px;
    margin: auto;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.address h3, .contact h3 {
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input,
.contact textarea {
    margin-bottom: 12px;
    padding: 6px;
    border: none;
}

.contact input:hover,
.contact textarea:hover {
    background: #ffe0e7;
}

button {
    border: none;
    padding: 6px;
    cursor: pointer;
}

button:hover {
    background: #ffb6c9;
}

.footer-end {
    text-align: center;
    margin-top: 40px;
    opacity: 0.6;
}
