table {
  border-collapse: collapse;
  width: 60%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: larger;
}
thead tr {
  background-color: #2e9779;
  color: white;
}
thead tr th:first-child {
  border-top-left-radius: 10px;
}
thead tr th:last-child {
  border-top-right-radius: 10px;
}
th, td {
  padding: 12px;
  border: 1px solid #ccc;
}
tbody tr:last-child td {
  border-bottom: 3px solid #2e9779;
}
tbody tr:hover {
  color: #389776;           
  cursor: pointer;
}