body {
    background-color: #ccc;
}

/* Block */
.btn {
    text-decoration: none;
    background-color: white;
    color: #888;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 5px;
}

/* Element */
.btn__price {
    background-color: white;
    color: #fff;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: -10px;
    /* realign button text padding */
    font-weight: 600;
    background-color: #333;
    opacity: .4;
}

/* Element */
.btn__text {
    padding: 0 10px;
    border-radius: 0 5px 5px 0;
}

/* Modifier size */
.btn--big {
    font-size: 28px;
}

.btn--small {
    font-size: 12px;
}

/* Modifier color */
.btn--blue {
    border-color: #0074D9;
    color: white;
    background-color: #0074D9;
}

/* Modifier color */
.btn--orange {
    border-color: #de712d;
    color: white;
    background-color: #ff8336;
}

/* Modifier color*/
.btn--green {
    border-color: #3D9970;
    color: white;
    background-color: #3D9970;
}