body {

  background-image: 
    url('bird.png'),
    url('bird.png'),
    url('cloud1.png');
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  background-size: 400px, cover;
  background-color: #bde0fe;
  text-align: center;
  padding: 60px 100px;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
p {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5;
}