body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(149, 165, 166, 0.9);
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
}

footer a:hover {
  opacity: 0.8;
}

.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgb(127, 140, 141, 0.9);
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}